In [5]:
import os, re
import pandas as pd

In [6]:
pop_order = """1) NTH_SEA
2) SCOTLAND
3) IRELAND
4) BBISCAY
5) PORTUGAL
6) ALGERIA
7) MALAGA
8) GULFLION
9) NTH_THYR
10) SARDINIA
11) STH_THYR
12) ADV_BANK
13) MALT_BANK
14) NTH_ADR
15) STH_ADR
16) NW_JON
17) AEGEAN
18) TURKEY
19) CYPRUS"""

pop_order = pop_order.split("\n")
pop_order_list = list(map(lambda x:x.split(" ")[1], pop_order))

In [7]:
Atlantic = ["NTH_SEA", "SCOTLAND", "IRELAND", "BBISCAY", "PORTUGAL"]

In [8]:
genepop_SNP_set = "milano2013/Milano et al_Merluccius merluccius SNP data.txt"
with open(genepop_SNP_set, "r") as IN:
    txt = IN.readlines()

SNP_name = list(map(lambda x: x.rstrip(), txt[1:382]))

In [9]:
pop_cnt = 0
line_list = []
for i in txt[382:]:
    if i.rstrip() == "pop":
        pop_cnt += 1
        continue
    
    cur_pop = pop_order_list[pop_cnt-1]
    
    class_label = 0
    if cur_pop in Atlantic:
        class_label = 1

    line = i.rstrip().split(r" ")
    line.insert(1, class_label)
    line[0] = line[0].replace(",", "")
    line_list.append(pd.Series(line).replace({
        "0101": "0",
        "0102": "1",
        "0201": "1",
        "0202": "2",
        "0000": "-9"}))

In [11]:
feature_table = pd.concat(line_list, axis=1).T

In [12]:
col_name = ["Sample_ID", "Class"]
col_name.extend(SNP_name)
col_name_dict = dict(zip(list(feature_table.index), col_name))

In [13]:
feature_table = feature_table.rename(col_name_dict, axis=1)

In [14]:
feature_table.head()

,Sample_ID,Class,1413_fpt,551_fpt,4228ms,3178_fpt,1270_fpt,3216ms,1794_fpt,1503_fpt,...,515_fpt,1631ms,1857_fpt,2579_fpt,1054_fpt,2902ms,1148ms,4449ms,1230ms,2985ms
0,MM6493,1,0,0,2,1,0,2,1,2,...,0,1,1,0,1,0,2,1,2,1
1,MM6494,1,1,0,0,1,0,1,0,2,...,1,2,2,0,1,0,2,1,1,2
2,MM6495,1,1,0,0,1,0,2,1,2,...,1,1,2,0,2,0,2,0,1,2
3,MM6496,1,1,0,1,1,0,0,0,2,...,0,2,1,1,2,0,2,0,2,2
4,MM6497,1,1,0,0,1,0,1,0,0,...,1,2,1,0,1,0,2,1,2,1

In [ ]:
feature_table.to_csv("milano2013.tsv", sep="\t", header=True, index=False)

In [15]:
feature_table.shape

(850, 383)

In [16]:
feature_table.Class.value_counts()

0    607
1    243
Name: Class, dtype: int64

In [17]:
feature_table.columns

Index(['Sample_ID', 'Class', '1413_fpt', '551_fpt', '4228ms', '3178_fpt',
       '1270_fpt', '3216ms', '1794_fpt', '1503_fpt',
       ...
       '515_fpt', '1631ms', '1857_fpt', '2579_fpt', '1054_fpt', '2902ms',
       '1148ms', '4449ms', '1230ms', '2985ms'],
      dtype='object', length=383)

In [19]:
len(pd.unique(feature_table.columns))

383